<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="/assets/history-4b6fb3b0.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/bootstrap.min-c4c061eb.js">
    <link rel="stylesheet" href="/assets/bootstrap-4e5c0698.css">
    <link rel="stylesheet" href="/assets/index-8d3262ec.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
